.subscribe-button {
  background-color: rgb(214, 20, 20);
  border: none;
  color: white;
  height: 40px;
  width: 120px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.join-button {
  background-color: white;
  border-style: solid;
  border-color: rgb(33, 173, 205);
  color: rgb(33, 173, 205);
  height: 40px;
  width: 80px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}

.tweet-button {
  background-color: rgb(0, 157, 255);
  border: none;
  color: white;
  height: 40px;
  width: 80px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}
